.footer1{
    align-items: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 88px;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #667885;

}

@media(max-width: 800px){
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
}